<footer>
    <div class="footerInfo">
        <div class="fsocialInfo">
            <div class="footerTitle">
                <a class="navbar-brand" href="/">
                    <i class="fa-brands fa-avianex"></i>
                    <span>UrbanStay</span>
                </a>
            </div>
            <div class="socialLinks">
                <a href="">
                    <img src="/icons/facebook.png" alt="">
                </a>
                <a href="">
                    <img src="/icons/instagram.png" alt="">
                </a>
                <a href="">
                    <img src="/icons/linkedin.png" alt="">
                </a>
                <a href="">
                    <img src="/icons/twitter.png" alt="">
                </a>
            </div>
        </div>

        <div class="fInfoLinks">
            <a href="/privacy">Privacy</a>
            <a href="/privacy">About Us</a>
            <a href="/privacy">Terms</a>
        </div>

    </div>

    <div class="copyrightSection">
        <p>&copy; UrbanStay 2026 All Rights Reserved</p>
    </div>
    
</footer>