<% layout("/layouts/boilerplate.ejs") %>

<main>
    <button onclick="history.back()" class="mb-4 btn btn-dark mainBtn"><- Back</button>
    
    <form action="/listings" class="row needs-validation" method="POST" novalidate> 
        <div class="col-7 offset-2 formStyle">
            <h3 class="mb-4">Create a New Listing</h3>
            <div class="inputLabel mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Add Title" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Title can't be empty</div>
            </div>
            <div class="inputLabel mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" id="description" placeholder="Enter Description" required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Enter a Description</div>
            </div>
            <div class="inputLabel mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="listing[image]" placeholder="Add Image Link">
            </div>
            <div class="row">
                <div class="inputLabel mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="listing[price]" placeholder="&#8377; 1299" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please Set a Price</div>
                </div>
                <div class="inputLabel mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" id="country" class="form-control" name="listing[country]" placeholder="India" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Enter the Country name</div>
                </div>
            </div>
            <div class="inputLabel mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control" name="listing[location]" placeholder="Udaipur, Rajasthan" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter Property Location</div>
            </div>
            <button class="btn mainBtn mt-4">Submit</button>
        </div>
    </form>
</main>