<% layout("/layouts/boilerplate.ejs") %>

<main>
    <div class="row col-6 mt-4 offset-1">
        <div class="alert alert-danger d-flex align-items-center p-4" role="alert">
            <i class="fa-solid fa-triangle-exclamation me-2"></i>
            <div>
                <span><b><%= statusCode %></b> - </span>
                <span><%= message %></span>
            </div>
        </div>
    </div>
</main> 